@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Noto+Serif+Display&display=swap');
*{
    padding: 0px;
    margin:0px ;
    font-family: 'Fredoka', sans-serif; 
}
:root{
    --cor1:#0b3c5d;
    --hover:#2b75a7;
    --cor2:#328cc1;
    --cor3:#D9B310;
    --cor4:#c7c7c7;
    
}
header{
    background-color: var(--cor1);
    padding: 20px;
   
  
}
header h1{
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;

}
/*barra de navegação*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: .6rem;
    background-color: var(--cor1);
    top: 0;
    position: sticky;
   
}
nav a{
    flex: 1;
    padding: 5px;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--cor1);
    
}
nav a:hover{
    background-color: var(--hover);
}
/*conteudoprincpal*/
main{
    margin: 70px 0px;
    overflow: hidden;
}
div.calculadora{
    
    max-width: 1200px;
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--cor2);
}
div.calculadora:nth-child(2n) h2{
    background-color:var(--cor3);
}
div.calculadora:nth-child(2n){
    border: 2px solid var(--cor3);
}
.calculadora p{
    font-size: 1.3em;
    padding: 10px;
    flex: 1;
    
}
.calculadora input{
    padding: 5px;
    margin: 5px;
    
}
.calculadora h2{
    font-size: 1.9em;
    padding: 10px;
    color: white;
    background-color: var(--cor2);
}
.calculadora .button{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    
    border-radius: 30px;
    border: none;
    font-size: 1.3em;
    background-color: var(--cor4);
}
.calculadora .button:hover{
    cursor: pointer;
}
.calculadora li{
    text-align: left;
    list-style:none;
    font-size: 1.3em;;
    max-width: 50%;
}
.calculadora ul{
    padding: 5px;
    width:100%;
    display:block;
    margin:auto;
    columns: 2;
    margin-top: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.buttonflex{
    flex: 1;
    border-radius: 30px;
    border: none;
    font-size: 1.3em;
    background-color: var(--cor4);
}
.buttonMedia {
    border-radius: 30px;
    border: none;
    font-size: 1em;
    background-color: var(--cor4);
    padding: 0px 2px;
}
/*footer*/
footer {
    padding: 10px;
    height:auto;
    background-color:#1d2731;
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size: 1.2em;
    color: white;
}
footer a{
    color: white;
}

   

