@charset "UTF-8";
@media screen and (min-width : 1025px) {
    #iconMenu{

        display: none;
    }
    div.calculadora{
        width: 80vw;
    }
    div.calculadora h2{
        width: 100%;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav a {
        flex: 1;
    }
    footer{
        font-size: 1em;
    }
}
